.task-side-navbar {
    padding: 10px 8px;
}

.task-side-navbar__displayAllTask{
    padding: 0px 24px 0px 16px;
    background-color: #c2e7ff;
    border-radius: 30px;
    height: 32px;
    align-content: center;
    width: 232px;
}
.task-side-navbar__displayOnlyhighlighs{
    padding: 0px 24px 0px 16px;
    border-radius: 30px;
    height: 32px;
    align-content: center;
    width: 232px;
}
.task-side-navbar__createList{
    padding: 8px 24px 8px 16px;
    height: 32px;
    align-content: center;
    width: 232px;
}